<div class="container">
    <div class="row g">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card "  style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/SMD08/primary/1_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sugarcane (200m)</h5>
                          <a href="#" class="btn btn-primary">Rs 63</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/EAT6715/primary/2_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Classic Cold Coffe
                        </h5>
                          <a href="#" class="btn btn-primary">Rs 95</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/EAT6897/primary/1_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Jamun Kalakhatta</h5>
                          <a href="#" class="btn btn-primary">Rs 85</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/EAT6870/primary/3_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"> Charcoal Coconut Water</h5>
                          <a href="#" class="btn btn-primary">Rs 150</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/COM1265/primary/1_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Strawberry Milkshake</h5>
                          <a href="#" class="btn btn-primary">Rs 175</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/COM1292/primary/2_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Smoothie </h5>
                          <a href="#" class="btn btn-primary">Rs 200</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/HRX04/primary/2_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"> Cold Brew</h5>
                          <a href="#" class="btn btn-primary">Rs 150</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/EAT6896/primary/1_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"> Cranberru</h5>
                          <a href="#" class="btn btn-primary">Rs 100</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/WHL23/primary/3_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"> Cola Fizz</h5>
                          <a href="#" class="btn btn-primary">Rs 50</a>
                        </div>
                      </div>
                </div>
            </div>
           
            
        </div>
    </div>
</div>