<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col xxl-6">
            <h1>People who love to eat<br>are always the best people</h1>
        </div>
    </div>
  
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div>
                <div class="row g-3 mt-5">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card"   style="width: 18rem;">
                            <img height="200px" src="https://d1ralsognjng37.cloudfront.net/11ccb0ee-f4c4-484e-9c6b-80bb36e00067.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Dessert</h5>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card" style="width: 18rem;">
                            <img height="200px" src="https://st.depositphotos.com/1003814/5052/i/450/depositphotos_50522615-stock-photo-pizza-with-tomatoes.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Pizza</h5>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card" style="width: 18rem;">
                            <img height="200px" height="200px" height="200px" src="https://images.pexels.com/photos/1639557/pexels-photo-1639557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                            <div class="card-body" >
                                <h5 class="card-title">Burger</h5>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card"  style="width: 18rem;">
                            <img height="200px" src="https://images.thequint.com/thequint%2F2022-10%2F5fd80efc-2e10-40ca-964a-53933df92c93%2Fset_of_three_kinds_of_gin_tonic_picture_id668030702.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Beverage</h5>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
