<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card "  style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/ICE10/primary/2_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mango Ice Cream</h5>
                          <a href="#" class="btn btn-primary">Rs 59</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/ICE09/primary/2_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Malai Kulfi
                        </h5>
                          <a href="#" class="btn btn-primary">Rs 69</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/ICE11/primary/2_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chocolate Chip Ice cream</h5>
                        
                          <a href="#" class="btn btn-primary">Rs 70</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/EAT6491/primary/2_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">TBAdam Kheer</h5>
                          <a href="#" class="btn btn-primary">Rs 75</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/CZL05/primary/1_1.jpg" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chocolate Walnut Brownie</h5>
                          <a href="#" class="btn btn-primary">Rs 80</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/HRX11/primary/1_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Keto Cheese Cake</h5>
                          <a href="#" class="btn btn-primary">Rs 200</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/CZL09/primary/1_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Banana Walnut Cake </h5>
                          <a href="#" class="btn btn-primary">Rs 75</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/HPS95/primary/1_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"> Moong Dal Halwa </h5>
                          <a href="#" class="btn btn-primary">Rs 225</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 19rem;">
                        <img height="180px" width="150px" src="https://ik.imagekit.io/curefoods/tr:w-295,ar-1.33/image/singles/eat/meals/CZL01/primary/1_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chocolate Orange Mousse</h5>
                          <a href="#" class="btn btn-primary">Rs 95</a>
                        </div>
                      </div>
                </div>
            </div>
           
            
        </div>
    </div>
</div>